# Node.js / React
node_modules/
build/

# Python
__pycache__/
*.pyc

# Docker
*.log
*.pid

# Visual Studio Code
.vscode/

# python virtual environments
.idea

# Ignorar reportes de cobertura generados por jest/codecov
frontend/coverage/lcov-report/
