.home {
  background: transparent;
  color: #ffff;
}

.hero {
  background: linear-gradient(to right, #000, #111);
  color: #fff;
  text-align: center;
  border-bottom: 4px solid #0f0;
}

.destacados {
  padding: 1rem;
  max-width: 1200px;
  margin: 2rem auto;
}

.destacados h2 {
  margin-bottom: 2rem;
  text-align: center;
}

.grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
@media (max-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 🔁 2 columnas iguales */
    gap: 1rem; /* opcional: espacio entre tarjetas */
  }
}
